Movie4U/.vs/Movie4U/xs
*.dll
Movie4U/bin/Debug
*.cache
Movie4U/obj/Debug
appsettings.json
Movie4U/obj
Movie4U/.vs/Movie4U/FileContentIndex/5e13b779-709f-4100-92f0-e240f96532db.vsidx
Movie4U/.vs/Movie4U/FileContentIndex/dc37ec3b-ac71-49ea-82d2-8c13af75cb9d.vsidx
Movie4U/.vs/Movie4U/FileContentIndex/dea80c5c-6183-43d0-9e9a-2aff270a632e.vsidx
Movie4U/.vs/Movie4U/FileContentIndex/f829ed37-60df-4783-9eb1-6f235e2877e5.vsidx
Movie4U/.vs/Movie4U/FileContentIndex/6246247a-3d57-4270-a26e-499297139620.vsidx
Movie4U/.vs/Movie4U/FileContentIndex/a329dc4a-c606-457f-bd20-d405b00774ed.vsidx
Movie4U/.vs/Movie4U/FileContentIndex/b895f5fe-2e20-4def-9a92-90f42597aa33.vsidx
Movie4U/.vs/Movie4U/FileContentIndex/db7310af-cd69-47cb-be40-35c2a7de3cd9.vsidx
Movie4U/.vs/Movie4U/FileContentIndex/read.lock
