Movie4U/.vs/Movie4U/xs
*.dll
Movie4U/bin/Debug
*.cache
Movie4U/obj/Debug
appsettings.json
Movie4U/obj
Movie4U/.vs/Movie4U/FileContentIndex/5e13b779-709f-4100-92f0-e240f96532db.vsidx
Movie4U/.vs/Movie4U/FileContentIndex/dc37ec3b-ac71-49ea-82d2-8c13af75cb9d.vsidx
Movie4U/.vs/Movie4U/FileContentIndex/dea80c5c-6183-43d0-9e9a-2aff270a632e.vsidx
Movie4U/.vs/Movie4U/FileContentIndex/f829ed37-60df-4783-9eb1-6f235e2877e5.vsidx
*.vsidx
